.loader {
  .bar {
    position: relative;
    height: 2px;
    width: 500px;
    margin: 0 auto;
    background: #ff6666;
    margin-top: 200px;
    margin-top: 200px;
  }
  .progress {
    width: 42%;
    background-color: #f5f5f5;
    margin: 0 auto;
  }

  .progress .indeterminate {
    background-color: #ff6666;
  }
  
  .circle {
    position: absolute;
    top: -30px;
    margin-left: -30px;
    height: 60px;
    width: 60px;
    left: 0;
    background: #ff6666;;
    border-radius: 30%;
    animation: move 5s infinite;
    -webkit-animation: move 5s infinite;
  }
  
  p {
    position: absolute;
    top: -35px;
    right: -85px;
    text-transform: uppercase;
    color: #ff6666;;
    font-family: helvetica, sans-serif;
    font-weight: bold;
  }
}

@keyframes move {
  0% {left: 0;}
  50% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  75% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  100% {right: 100%;}
} 

@-webkit-keyframes move {
  0% {left: 0;}
  50% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  75% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  100% {right: 100%;}
} 