.m-nav {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
  ul {
    margin: 0 auto;
    margin-left: -40px;
    text-align: center;
    li {
      text-transform: uppercase;
      font-size: 12px;
      display: inline-block;
      a {
        padding: 15px 15px;
        box-sizing: border-box;
        color: #ff6666;
        position: relative;
        display: block;
        span {
          display: inline-block;
          padding: 3px 7px 2px 7px;
          background-color: rgb(255, 195, 0);
          position: relative;
          color: #000;
          font-size: 8px;
          font-weight: bold;
          border-radius: 3px;
          top: -2px;
          margin-left: 3px;
        }
      }
      .people-link,
      .profile-link,
      .search-link,
      .create-link,
      .request-link {
        font-size: 14px;
        margin-left: 20px
      }
      .home-link {
        margin-left: 30px
      }
    }
  }
}

.active-nav {
  border-bottom: 1px solid #aaa !important;
}


@media only screen and (max-width: 905px) {

}