body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
}
nav {
  background-color: #fff;
  .imageContainer {
    margin: 10px;
    position: absolute;
    .profileImage {
      width: 30px;
      height: 30px;
    }
  }

  .dropdown-content {
    li, a, span {
      font-size: 12px;
    }
    background-color: #fafafa;
    min-width: 200px;
    top: 50% !important;
    left: 84% !important;
    margin-left: -12px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 4;
    .nav-icon {
      margin-right: 30px;
      width: 30px;
      font-size: 14px;
      margin-left: -4px;
      color: #828282 !important;
    }
  }
  .dropdown-trigger {
    outline: 0
  }
  .b-s-imageContainer {
    .profileImage {
      width: 30px;
      height: 30px;
    }
  }
  .sidenav-trigger {
    margin: 0px;
  }
  .brand-logo {
    padding: 0 0 0 0;
  }
  ul a {
    padding: 0 10px;
    margin-right: 10px;
    color: #555
  }
  a {
    color: #555;
  }
  .companyLogo {
    font-family: 'Gaegu', cursive;
    color: #3d3d3d
  }
  .nav-content {
    background-color: rgb(250, 98, 113);
  }
}
.homehome {
  nav {
    background-color: #312E26;
    a {
      color: #fafafa;
    }
  }
}
.btn, .btn:hover {
  background-color: #ff6666;
  border-radius: 50px 50px; 
}
.tabs .tab {
  text-transform: none;
}
.input-field input[type=text]:focus.validate,
.input-field input[type=password]:focus.validate,
.input-field input[type=number]:focus.validate,
.input-field input[type=email]:focus.validate {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
input.valid:not([type]),
input.valid:not([type]):focus,
input[type=text].valid:not(.browser-default),
input[type=text].valid:not(.browser-default):focus,
input[type=password].valid:not(.browser-default),
input[type=password].valid:not(.browser-default):focus,
input[type=email].valid:not(.browser-default),
input[type=email].valid:not(.browser-default):focus,
input[type=url].valid:not(.browser-default),
input[type=url].valid:not(.browser-default):focus,
input[type=time].valid:not(.browser-default),
input[type=time].valid:not(.browser-default):focus,
input[type=date].valid:not(.browser-default),
input[type=date].valid:not(.browser-default):focus,
input[type=datetime].valid:not(.browser-default),
input[type=datetime].valid:not(.browser-default):focus,
input[type=datetime-local].valid:not(.browser-default),
input[type=datetime-local].valid:not(.browser-default):focus,
input[type=tel].valid:not(.browser-default),
input[type=tel].valid:not(.browser-default):focus,
input[type=number].valid:not(.browser-default),
input[type=number].valid:not(.browser-default):focus,
input[type=search].valid:not(.browser-default),
input[type=search].valid:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid>input.select-dropdown {
  border-bottom: 1px solid #323232;
  -webkit-box-shadow: 0 1px 0 0 #323232;
  box-shadow: 0 1px 0 0 #323232;
}
::placeholder, label{ 
  color: #5e5d5d !important;
  font-size: 12px;
  opacity: 1; /* Firefox */
}
.select-wrapper input.select-dropdown,
.select-wrapper input.select-dropdown:focus,
{
  border-bottom: 1px solid #ccc;
}
.character-counter {
  margin-top: -20px;
}

.error_message {
  font-size: 12px;
  margin-left: 10px;
  text-align: center;
  color: red;
}

.eventHome .eventsContainer .eventCard {
  height: 200px;
  margin: 10px
}

.contact {
  min-height: 80vh;
  padding: 5%;
  padding-bottom: 50px;
  .contactText {
    text-align: center
  }
}

.safety {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 80vh;
  .subHeader {
    font-size: 17px;
    font-weight: bolder;
  }
  .content {
    font-size: 14px;
  }
}

.login, .signup {
  padding: 100px 10px 10px 10px;
  min-height: 80vh;
  .loginForm, .signupForm {
    padding: 0 230px;
  }
}
.modal {
  outline: 0;
}

.loader {
  margin-top: 10%;
  text-align: center;
}
.hide_small_screen {
  display: block;
}
@media only screen and (max-width: 530px) {
  nav {
    .companyLogo {
      width: 70px;
    }
  }
  .login, .signup {
    padding: 100px 0px 0px 0px;;
    min-height: 80vh;
    .loginForm, .signupForm {
      padding: 0;
    }
  }
  .hide_small_screen {
    display: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  textarea.materialize-textarea
  input:focus
  select:focus,
  textarea.materialize-textarea:focus,
 {
    font-size:16px !important;
  }
}


